/* Navbar - Restructure */
header {
    border-bottom: 1px solid rgba(245, 245, 245, 0.19);
}

nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    font-family: Ember, Helvetica, Arial, "sans-serif";
    height: 10vh;
}

.nav-left p,
a,
.nav-right a {
    color: #fff;
}


.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}

.nav-left p,
a {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
}

.nav-left p {
    font-size: 1.2rem;
}

.nav-left a {
    font-size: 1.2rem;
}

.nav-right a {
    font-size: 1.2rem;
    margin-left: 20px;
}



nav .sign-in-btn {
    background-color: #25d1da;
    padding: 8px 12px;
    border-radius: 10px;
    color: #000;
}

nav .sign-in-btn:hover {
    background: linear-gradient(135deg, #1CAAB9, #148D9F);

}

/* Saved Page */

.saved-section {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 70vh;
    color: white;
    width: 80%;
    margin: 10px auto;
    gap: 10px;

}

.saved-artist {
    border: 1px solid rgba(255, 255, 255, 0.424);
    padding: 20px;
    border-radius: 5px;
    text-align: center;

    line-height: 1.5;
}

.remove-btn {
    background-color: #25d1da;
    padding: 3px 6px;
    border: none;
    border-radius: 5px;
}



.fav-artist {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Hero Section */
.hero-section {
    height: 70vh;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.5;
}

.hero-section h1 {
    font-size: 2.2125rem
}

.hero-section p {
    font-size: 1.5rem;
    margin-bottom: 10px
}

.browse-btn {
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #1CAAB9;
    color: #000;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
}



/* artist section - home page */


.artist-section {
    height: 70vh;
    color: whitesmoke;
    text-align: center;
}

.artist-section a {
    background-color: #1CAAB9;
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}


.artist-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: 40%;
}


.artist-title-span {
    width: 80%;
    margin: auto;
}

.artist-title-span h2 {
    font-size: 1.7rem;
    padding-bottom: 20px;
    margin-top: 10px;
}


.cta-home {
    height: 50%;
    border: 1px solid white;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    line-height: 1.5;
    background: linear-gradient(135deg, #25d1da, #FF5722);
}


/* Filter Page - Songs by Artists */

.song-container {
    color: #ccc;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 5px 0;
}

.song-img {
    height: 150px;

}

.song-article {
    border: 1px solid #cccccc56;
    width: 70%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
}

.btn-container {
    border: 1px solid;
}

/*Save Song Button */
.save-btn {
    width: 40%;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: #25d1da;
    border: 1px solid #25d1da;
    cursor: pointer;
}


/* Form styles*/
.form-section {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    height: 70vh;
    align-items: center;
}


.form-section input {
    width: 100%;
}

form {
    /* border: 1px solid rgba(245, 245, 245, 0.19); */
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

form a {
    text-decoration: none;
    font-size: 1.1rem;
}

form input {
    padding: 8px 16px;
    border-radius: 10px;
    margin: 5px;
}

form input[type="submit"] {
    width: 80%;
    margin: auto;
    background-color: #25d1da;
    padding: 8px 16px;
    font-size: 1.2rem;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background: linear-gradient(135deg, #1CAAB9, #148D9F);
}

form .input-div {
    padding: 10px 20px;
}



footer {
    height: 10vh;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25d1da50;
    border: 1px solid#25d1da;
    width: 90%;
    border-radius: 5px;
    margin: 20px auto 20px auto
}






/* Media Queries */

@media only screen and (max-width: 1200px) {

    .nav-left p,
    .nav-right a {
        font-size: 0.9rem;
    }

    .hero-section h1 {
        font-size: 2rem;
    }

    .hero-section p {
        font-size: 1.2rem;
    }

    .browse-btn {
        font-size: 1rem;
    }

    .song-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .saved-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .cta-home {
        font-size: 1.2rem
    }

    .artist-div a {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 768px) {

    .nav-left p,
    .nav-right a {
        font-size: 0.7rem
    }

    .hero-section h1 {
        font-size: 1.8rem;
    }

    .hero-section p {
        font-size: 1rem;
    }

    .browse-btn {
        font-size: 0.8rem;
    }

    .song-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .saved-section {
        display: grid;
        grid-template-columns: 1fr;
    }


    .song-img {
        height: 100px;
    }

    .cta-home {
        font-size: 1rem;
        height: 30%;
    }

    .artist-div a {
        font-size: 0.7rem;
    }
}



@media only screen and (max-width: 600px) {

    .nav-left p,
    .nav-right a {
        font-size: 0.5rem;
        font-weight: bold
    }

    .hero-section h1 {
        font-size: 1.7rem;
    }

    .hero-section p {
        font-size: 0.8rem;
    }

    .browse-btn {
        font-size: 0.8rem;
    }

    .cta-home {
        font-size: 0.9rem;
        height: 20%;
    }

    .artist-div a {
        font-size: 0.5rem;
    }
}