/* Navbar - Restructure */
header {
    border-bottom: 1px solid rgba(245, 245, 245, 0.19);
}

nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    font-family: Ember, Helvetica, Arial, "sans-serif";
    height: 10vh;
}

.nav-left p,
a,
.nav-right a {
    color: #fff;
}


.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}

.nav-left p,
a {
    margin-right: 20px;
    font-size: 16px;
}

nav a {
    text-decoration: none;
}

.nav-left p {
    font-size: 1.2rem;
}

.nav-left a {
    font-size: 1.2rem;
}

.nav-right a {
    font-size: 1.2rem;
    margin-left: 20px;
}

/* nav input[type="search"] {
    background-color: #fff;
    margin: 17.6px 0;
    padding: 8px 60px 8px 24px;
    border-radius: 10px;
    border: 1px solid #000;
} */

nav .sign-in-btn {
    background-color: #25d1da;
    padding: 8px 12px;
    border-radius: 10px;
    color: #000;
}

nav .sign-in-btn:hover {
    background: linear-gradient(135deg, #1CAAB9, #148D9F);

}

/* artist section - home page */
.artist-img {
    height: 140px;
    /* possibly remove line below*/
    width: 170px;
    border-radius: 100px;
    object-fit: contain;
    cursor: pointer;
}

.artist-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    margin-top: 30px;
    height: 70vh;

}



.artist-div {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    height: 50%;
}

.artist-title-span {
    width: 80%;
    margin: auto;
}

.artist-title-span h2 {
    font-size: 1.7rem;
    padding-bottom: 20px;
}


.cta-home {
    height: 50%;
    border: 1px solid white;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    line-height: 1.5;
    background: linear-gradient(135deg, #25d1da, #FF5722);
}


/* Filter Page - Songs by Artists */

.song-container {
    color: #ccc;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 5px 0;
}

.song-img {
    height: 150px;

}

.song-article {
    border: 1px solid #cccccc56;
    width: 70%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
}

.btn-container {
    border: 1px solid;
}

/*Save Song Button */
.save-btn {
    width: 40%;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: #25d1da;
    border: 1px solid #25d1da;
    cursor: pointer;
}


/* Form styles*/
.form-section {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    height: 70vh;
    align-items: center;
}


.form-section input {
    width: 100%;
}

form {
    /* border: 1px solid rgba(245, 245, 245, 0.19); */
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

form a {
    text-decoration: none;
    font-size: 1.1rem;
}

form input {
    padding: 8px 16px;
    border-radius: 10px;
    margin: 5px;
}

form input[type="submit"] {
    width: 80%;
    margin: auto;
    background-color: #25d1da;
    padding: 8px 16px;
    font-size: 1.2rem;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background: linear-gradient(135deg, #1CAAB9, #148D9F);
}

form .input-div {
    padding: 10px 20px;
}



footer {
    height: 10vh;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25d1da50;
    border: 1px solid#25d1da;
    width: 90%;
    border-radius: 5px;
    margin: 20px auto 20px auto
}






/* Media Queries */

@media only screen and (max-width: 500px) {

    .nav-left p {
        font-size: 0.8rem
    }

    .nav-left a {
        font-size: 0.8rem;
    }

    nav input[type="search"] {
        width: 100px;
        padding: 5px 0;
    }

    nav .sign-in-btn {
        font-size: 0.5rem;
    }

    .artist-img {
        width: 80px;
    }


    .song-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}



@media only screen and (max-width: 700px) {

    .nav-left p {
        font-size: 0.6rem;
    }

    .nav-left a,
    .nav-right a {
        font-size: 0.6rem;
    }

    nav input[type="search"] {
        width: 60%;
    }

    .song-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .song-article {
        width: 80%;
    }

    .artist-img {
        width: 100px;
    }


}

@media only screen and (max-width: 900px) {
    .nav-left p {
        font-size: 1rem;
    }

    .nav-left a,
    .nav-right a {
        font-size: 0.9rem;
    }

    .artist-img {
        width: 120px;
    }

    .song-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}



/* Media Queries for filter by artist page*/
/* 
@media only screen and (max-width: 500px) {
    .song-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
} */